
<div class="container-view-header">

</div>

<!-- Container view -->
<div class="container-view-holder">
    <!-- Grid -->
    <div class="container-grid" id="container-grid">
        <ul>
            <li ng-repeat="container in containers" ng-class="{selected : $index == selected}" ng-click="setSelected($index)">
                <!-- TODO: change to custom image per container (showing default) -->
                <img src="images/container-icon.png" />
                <span>{{container.Names[0]}}</span><br />
                <span class="summary">{{container.Status}}</span>
            </li>
        </ul>
    </div>
    <div class="container-container">
        <div class="selected-container" id="selected-container">
            <div class="container-title">
                <h1>Selected container title</h1>
            </div>
            <div class="issue-main-column">
                <div class="group">
                    <div class="group-title">
                        <span class="title">Details</span>
                    </div>
                    <div class="column">
                        <span class="key">ID:</span>
                        <span class="value">{{containers[selected].Id}}</span><br />
                        
                        <span class="key">Name:</span>
                        <span class="value">{{containers[selected].Names[0]}}</span><br />

                        <span class="key">Status:</span>
                        <span class="value">{{containers[selected].Status}}</span><br />

                        <span class="key">Created:</span>
                        <span class="value">{{containers[selected].Created}}</span><br />

                        <span class="key">Image:</span>
                        <span class="value">{{containers[selected].Image}}</span><br />
                    </div>
                    <div class="column">
                        <span class="key">Status:</span>
                        <span class="value">Running</span><br />

                        <span class="key">Memory use:</span>
                        <span class="value">1.000.000 MB</span><br />

                        <span class="key">Key:</span>
                        <span class="value">Value</span><br />
                    </div>
                </div>
            </div>

            <div class="issue-side-column">
                <div class="group">
                    <div class="group-title">
                        <span class="title">Size</span>
                    </div>
                    <div class="column">
                        <span class="key">Size Root system:</span>
                        <span class="value">{{containers[selected].SizeRootFs}}</span><br />

                        <span class="key">Size created/changed:</span>
                        <span class="value">{{containers[selected].SizeRW}}</span><br />
                    </div>
                </div>
                <div class="group">
                    <div class="group-title">
                        <span class="title">More info</span>
                    </div>
                    <div class="column">
                        <span class="key">Key:</span>
                        <span class="value">Value</span><br />

                        <span class="key">Key:</span>
                        <span class="value">Value</span><br />

                        <span class="key">Key:</span>
                        <span class="value">Value</span><br />
                    </div>
                </div>
            </div>
            <div class="issue-footer">
                <div class="container-button green">
                    <a onclick="execute('start', {{containers[selected].Id}})">Start</a>
                </div>
                <div class="container-button red">
                    <a onclick="execute('stop', {{containers[selected].Id}})">Stop</a>
                </div>
                <div class="container-button yellow">
                    <a onclick="execute('restart', {{containers[selected].Id}})">Restart</a>
                </div>
            </div>
        </div>
    </div>
</div>