
<div class="container-view-header">

</div>

<!-- Container view -->
<div class="container-view-holder">
    <!-- Grid -->
    <div class="container-grid" id="container-grid">
        <ul>
            <li ng-repeat="container in containers" ng-class="{selected : $index == selected}" ng-click="setSelected($index)">
                <!-- TODO: change to custom image per container (showing default) -->
                <a>
                    <img src="images/container-icon.png" />
                    <span>{{container.Name}}</span><br />
                    <span class="summary">{{container.Status}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="container-container">
        <div class="selected-container" id="selected-container">
            <div class="container-title">
                <h1>Selected container title</h1>
            </div>
            <div class="issue-main-column">
                <div class="group">
                    <div class="group-title">
                        <span class="title">Details</span>
                    </div>
                    <div class="column">
                        <span class="key">Name:</span>
                        <span class="value">{{containers[selected].Name}}</span><br />
                        
                        <span class="key">Image:</span>
                        <span class="value">{{containers[selected].Config.Image}}</span><br />

                        <span class="key">Created on:</span>
                        <span class="value">{{containers[selected].Created}}</span><br />

                        <span class="key">State:</span>
                        <span class="value">
                            <span ng-if="containers[selected].State.Running == true">
                                Running
                            </span>
                            <span ng-if="containers[selected].State.Running == false">
                                Stopped
                            </span>
                        </span><br />

                        <span class="key">
                            <span ng-if="containers[selected].State.Running == false">
                                (last) 
                            </span>
                            Started at:
                        </span>
                        <span class="value">
                            {{containers[selected].State.StartedAt}}
                        </span><br />
                    </div>
                    <div class="column">
                        <span class="key">Restarted:</span>
                        <span class="value">
                            {{containers[selected].RestartCount}} times
                        </span><br />

                        <span class="key">Memory use:</span>
                        <span class="value">{{containers[selected].RestartCount}} MB</span><br />

                        <span class="key">Driver:</span>
                        <span class="value">{{containers[selected].Driver}}</span><br />
                        
                        <span class="key">Execute Driver</span>
                        <span class="value">{{containers[selected].ExecDriver}}</span><br />
                        
                        <div class="button-holder">
                            <a onclick="ContainerView.executeTask('start', {{containers[selected].Id}})" 
                               class="container-button green">
                                Start
                            </a>
                            <a onclick="ContainerView.executeTask('stop', {{containers[selected].Id}})" 
                               class="container-button red">
                                Stop
                            </a>
                            <a onclick="ContainerView.executeTask('restart', {{containers[selected].Id}})" 
                               class="container-button yellow">
                                Restart
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="issue-side-column">
                <div class="group">
                    <div class="group-title">
                        <span class="title">Size</span>
                    </div>
                    <div class="column">
                        <span class="key">Size Root system:</span>
                        <span class="value">{{containers[selected].SizeRootFs}}</span><br />

                        <span class="key">Size created/changed:</span>
                        <span class="value">{{containers[selected].SizeRW}}</span><br />
                    </div>
                </div>
                <div class="group">
                    <div class="group-title">
                        <span class="title">Network</span>
                    </div>
                    <div class="column">
                        <span class="key">IP address:</span>
                        <span class="value">{{containers[selected].NetworkSettings.IPAddress}}</span><br />

                        <span class="key">Ports:</span>
                        <span class="value">  
                            <span ng-repeat="(key, value) in containers[selected].Config.ExposedPorts">
                                {{key}}
                            </span>
                        </span><br />

                        <span class="key">Gateway:</span>
                        <span class="value">{{containers[selected].NetworkSettings.Gateway}}</span><br />
                        
                        <span class="key">Bridge:</span>
                        <span class="value">{{containers[selected].NetworkSettings.Bridge}}</span><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>