
<div class="server-view-header">
    <!-- The space between the header and servers details box -->
    <div>
        <input id="addImageBtn" class="greenBtn" type="submit" value="Add Image" ng-click="addImage()"/>
        <input id="deleteImageBtn" class="redBtn" type="submit" value="Delete Image" ng-click="deleteImage()"/>
    </div>
</div>

<!-- Server details view -->
<div class="server-view-holder">
    <!-- Grid -->
    <div class="server-grid" id="server-grid">
        <ul>
            <li ng-repeat="image in images" ng-class="{selected : $index == selected}" ng-click="setSelected($index, image.ID)">
                <div>
                    <span class="summary">Name: {{image.RepoTags[0]}}</span>
                </div>
            </li>
        </ul>
    </div>
    <!-- END OF THE GRID -->
    <div class="server-container">
        <div class="selected-server" id="selected-server">
            <div class="server-title" ng-hide="selected != null">
                <h1>Select a Image to see more information.</h1>
            </div>
        </div>
        <div class="selected-server" id="selected-server" ng-show="selected != null && showForm != true" >
            <div class="server-title">
                <h1>Selected Image: {{images[selected].RepoTags[0]}}</h1>
            </div>
            
            <div class="issue-main-column">
                <div class="group">
                    <div class="group-title">
                        <span class="title">Details</span>
                    </div>
                    <div class="column">
                        <span class="key">Name:</span>
                        <span class="value">{{images[selected].RepoTags[0]}}</span><br />
                        
                        <span class="key">ID:</span>
                        <span class="value">{{images[selected].Id}}</span><br />

                        <span class="key">Size: </span>
                        <span class="value">{{images[selected].Size}}</span><br />

                        <span class="key">Virtual Size:</span>
                        <span class="value">{{images[selected].VirtualSize}}</span><br />
                    </div>
                </div>
            </div>
          
        </div>
        <div class="selected-server" id="selected-server" ng-show="showForm == true" >
            <h6 style="color: red;">
                Search new Image
            </h6>
            <div>
                <input class="server-input" type="text" placeholder="Image Name: " ng-model="img_name"/>
            </div>
            <div>
                <input class="form-button" type="submit" value="Add" ng-click="addServerToDB()"/>
                <input class="form-button" type="submit" value="Cancel" ng-click="cancel()"/>
            </div>
        </div>
    </div>
</div>
