
<div class="log-view-header">
    
</div>

<div class="log-view-holder">
    <!-- Grid -->
    <div class="log-grid" id="log-grid">
        <ul>
            <li ng-repeat="File in files" ng-class="{selected : $index == selected}" ng-click="logupdate($index, File.File)">
                    <span>{{File.File}}</span><br />
                    <span>{{File.LastMod}}</span><br />
            </li>
        </ul>
    </div>
    <div class="log-log">
        <div class="selected-log" id="selected-log">
            <div class="log-title">
                <h1>Logbook: {{files[selected].File}}</h1>
            </div>
            <div class="issue-main-column">
                <div class="log-data">
                    <span ng-repeat="logline in log">
                        {{logline.LogLine}}<br />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>