
<div class="log-view-header">
    
</div>

<div class="log-view-holder">
    <!-- Grid -->
    <div class="log-grid" id="log-grid">
        <ul>
            <li ng-repeat="File in files" ng-class="{selected : $index == selected}" ng-click="setSelected($index)">
                <a id="{{File.File}}">
                    <span>{{File.File}}</span><br />
                    <span>{{File.LastMod}}</span><br />
                </a>
            </li>
        </ul>
    </div>
    <div class="log-log">
        <div class="selected-log" id="selected-log">
            <div class="log-title">
                <h1>Logbook: {{files[selected].File}}</h1>
            </div>
            <div class="issue-main-column">
                <textarea rows="25" cols="90">
Inside this comes the log info 
                </textarea>
            </div>
        </div>
    </div>
</div>