
<div class="server-view-header">
    <!-- The space between the header and servers details box -->
    <div>
        <input id="addServerBtn" class="greenBtn" type="submit" value="Add server" ng-click="addServer()"/>
        <input id="deleteServenBtn" class="redBtn" type="submit" value="Delete server" ng-click="deleteServer()"/>
    </div>
</div>

<!-- Server details view -->
<div class="server-view-holder">
    <!-- Grid -->
    <div class="server-grid" id="server-grid">
        <ul>
            <li ng-repeat="server in servers" ng-class="{selected : $index == selected}" ng-click="setSelected($index, server.ID)">
                <!-- TODO: change to custom image per container (showing default) -->
                <div class="positionLeft">
                    <img class="server-icon" src="images/server-icon.png" />
                </div>
                <div>
                    <span class="summary">Name: {{server.SERVER_NAME}}</span>
                    <span class="summary">IP: {{server.SERVER_IP}}</span>
                    <span class="summary">Status: {{server.DOCKER_STATUS}}</span>
                </div>
            </li>
        </ul>
    </div>
    <!-- END OF THE GRID -->
    <div class="server-container">
        <div class="selected-server" id="selected-server">
            <div class="server-title" ng-hide="selected != null">
                <h1>Select a server to see more information.</h1>
            </div>
        </div>
        <div class="selected-server" id="selected-server" ng-show="selected != null && showForm != true" >
            <div class="server-title">
                <h1>Selected server: {{servers[selected].SERVER_NAME}}</h1>
            </div>
            
            <div class="issue-main-column">
                <div class="group">
                    <div class="group-title">
                        <span class="title">Details</span>
                    </div>
                    <div class="column">
                        <span class="key">Name:</span>
                        <span class="value">{{servers[selected].SERVER_NAME}}</span><br />

                        <span class="key">IP address: </span>
                        <span class="value">{{servers[selected].SERVER_IP}}</span><br />

                        <span class="key">Docker status:</span>
                        <span class="value">{{servers[selected].DOCKER_STATUS}}</span><br />
                    </div>
                    
                    
                </div>
            </div>
          
        </div>
        <div class="selected-server" id="selected-server" ng-show="showForm == true" >
            <h6 style="color: red;">
                All the fields are required
            </h6>
            <div>
                <input class="server-input" type="text" placeholder="Server name" ng-model="ser_name"/>
                <input class="server-input" type="text" placeholder="Server IP address" ng-model="ser_ip"/>
                <input class="server-input" type="text" placeholder="Docker status" ng-model="ser_doc_status"/>
            </div>
            <div>
                <input class="form-button" type="submit" value="Add" ng-click="addServerToDB()"/>
                <input class="form-button" type="submit" value="Cancel" ng-click="cancel()"/>
            </div>
        </div>
    </div>
</div>