/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2015, 12:34:32 AM
    Author     : Bert
*/

// Contants
$main-color: #333;
$border-color: #cccccc;
$blue-color: #3572b0;
$light-blue-color: #3b73af;
$light-gray-color: #f5f5f5;
$dark-blue-color: #205081;
$gray-color: #e6e6e6;
$white-color: #FFFFFF;
$selected-color: #ebf2f9;

// Mixins

// Imports
@import "_base.scss";
@import "_menu.scss";
@import "_buttons.scss";

    // Pages
    @import "_container-view.scss"; 
    @import "_log-view.scss";
    @import "_server-view.scss";